# Ignore everything first
*

# Start allowing
!.gitignore

!Modules/RapidChangeATC/*
!Modules/RapidChangeATC/Core/*
!Profiles/RapidChangeATC/*
!Profiles/RapidChangeATC/Macros/*
!Wizards/RapidChange*.mcs
